.foot{
    position: absolute;
    bottom: 1%;
}

p{
    text-align: center;
}

.foot > div{
    width: 170px;
}

.c{
    margin-left: 200px;
    margin-top: 2%;
}

.x{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
