footer{
    width: 100%;
    bottom: 3%;
    position: absolute;
}

#dev{
    text-align: center;
}

#clink{
    position: absolute;
    right: 0%;
}

a{
    outline: none;
    text-decoration: none;
}

label{
    width: 100%;
    text-align: center;
}

.form-container{
    margin-left: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
}